.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper {
  width: 25rem;
  border: 1px solid #888888;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.clear {
  display: flex;
}